.item-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: #d1cfce;
  padding-bottom: 20px;
  margin: 10px;
  gap: 10px;
  border-radius: 30px;
  align-items: center;
  font-family: 'Cormorant Garamond';

  p {
    margin: 0;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;

    h3 {
      font-size: 2rem;
      margin: 0;
    }

    .delete {
      background-color: #9a9394;
      border: none;
      padding: 10px 20px;
      border-radius: 15px;
      color: white;
      cursor: pointer;

      &:hover {
        text-shadow: 2px 2px 5px #b7b4b1;
        background-color: #c35b67;
        box-shadow: 2px 2px 5px #76716d;
      }
    }
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50px;
    align-items: center;

    .form {
      flex: 2;
      display: flex;
      flex-direction: row;
      height: 100%;

      input[type='submit'] {
        margin: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .key {
      background-color: #dcdccd;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      font-size: 1.5rem;
    }

    .value {
      background-color: #f8f8f3;
      border-width: 1px 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
    }

    .edit {
      background-color: #c7b8b0;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #76716d;
        text-shadow: 2px 2px 5px #b7b4b1;
      }
    }

    .flex-item {
      flex: 1;
      height: 100%;
      width: 100%;
      border: 1px solid gray;
    }
  }
}
